.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  
    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  
    .image {
      background-color: #f2f2f2;
      padding: 10px;
      text-align: center;
    }
  }